* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  padding-top: 120px;
  font-family: "Pangolin", cursive;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 5px;
}
table {
  border: 1px solid #000000;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
td {
  border: 1px solid #000000;
  text-align: center;
}
td input {
  color: #000000;
  background-color: white;
  font-family: "Pangolin", cursive;
  padding: 0;
  border: 0;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  outline: none;
  width: 50px;
  height: 50px;
}

#cell-02,
#cell-12,
#cell-22,
#cell-32,
#cell-42,
#cell-52,
#cell-62,
#cell-72,
#cell-82 {
  border-right: 3px solid black;
}

#cell-05,
#cell-15,
#cell-25,
#cell-35,
#cell-45,
#cell-55,
#cell-65,
#cell-75,
#cell-85 {
  border-right: 3px solid black;
}

#cell-20,
#cell-21,
#cell-22,
#cell-23,
#cell-24,
#cell-25,
#cell-26,
#cell-27,
#cell-28 {
  border-bottom: 3px solid black;
}

#cell-50,
#cell-51,
#cell-52,
#cell-53,
#cell-54,
#cell-55,
#cell-56,
#cell-57,
#cell-58 {
  border-bottom: 3px solid black;
}

.button-container {
  text-align: center;
}
#reset,
#solution,
#check,
#puzzle{
  display: inline-block;
  background-color: transparent;
  margin-top: 30px;
  font-family: "Pangolin", cursive;
  font-size: 30px;
  margin-right: 20px;
  width: 120px;
  border: 1px solid black;
}
#reset {
  margin-left: 20px;
  margin-right: 20px;
}

#backBtn {
  background-color: transparent;
  font-family: "Pangolin", cursive;
  font-size: 30px;
  width: 120px;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
  display: block;
}
